<!doctype html>
    <head>
        <!-- Styles-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/satellite.css') }}">
        <title>Satellite Platform</title>

    </head>
    <body>
        <div id="mount-point"></div>

        <!-- JAVASCRIPT -->

        <!-- ReactJs -->
        <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/satellite.js') }}"></script>
    </body>
</html>